
body {
    font-family: sans-serif;
    background-color: palevioletred;
    color: #3d2b1f;
    line-height: 1.6;
  }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(240, 149, 149);
}
.head {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-around; 
    display: flex; 
}
.head img {
    border-radius: 50%;
    max-width: 30%;
    max-height: 200px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    text-shadow: 3px 3px 10px rgba(61, 23, 23, 0.7);
    
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    color: rgb(54, 126, 126);
}
header img {
    border-radius: 50%;
    max-height: 300px;

}
.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #d4a574;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    gap: 20px;
}
.tab-button {
    border-radius: 10px;
    background: #d4a574;
    border:1;
    padding: 12px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #3d2b1f;
    font-weight: 600;
    transition: all 0.3s ease;
}
.tab-button:hover {
    color:bisque;
    transform: translateY(-3px);
}
.tab-button.active {
    background-color: #8b5a2b;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}
.menu-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 30px;
}
.manu-item {
    background: #d4a574;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}
.manu-item:hover {
    transform: translateY(-10px);
}
.manu-item img{
    width:570px;
    height: 400px;
    object-fit: cover;
    
}
.manu-item2 img{
    width:500px;
    height: 500px;
    object-fit: cover;


}
 .food {
    padding: 20px;
}
.food h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    margin-bottom: 8px;
    color: #5c4033;
    
}
.food p {
    color: #666;
    margin-bottom: 15px;
    font-size: 0.95rem;
}
.price {
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    color: #8b5a2b;
}
.order {
    border-radius: 10px;
    background: #d4a967;
    border:1;
    padding: 12px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #3d2b1f;
    font-weight: 600;
    transition: 0.3s ease;
}
.order:hover {
    background: #3d2b1f;
    color: rgb(140, 255, 0);
    transition: 0.3s;
}
footer {
    text-align: center;
    padding: 40px 20px;
    margin-top: 60px;
    background-color: rgb(214, 63, 179);
    color: #4ae3bf;
}





